<md-toolbar id="footer" md-theme="{{tvSkin.elements.footer}}" ng-controller="FooterController">
    <div class="md-toolbar-tools md-body-1" layout="row" layout-align="space-between center">
        <h2 class="ng-binding"><a href="https://www.ixsystems.com/truenas" title="iXsystems, Inc. TrueNAS Storage" target="_blank">&copy; 2017 iXsystems, Inc.</h2>
        <a class="ng-binding" href="https://www.ixsystems.com/truenas" title="iXsystems, Inc. TrueNAS Storage" target="_blank"><img src="../../assets/images/ix.png"></a>
    </div>
    <div id="card-position">card-position</div>
</md-toolbar>git status
