<div class="md-toolbar-tools">
    <md-button class="md-icon-button" hide-gt-md ng-click="openSideNav('left')" aria-label="side navigation">
        <md-icon md-font-icon="icon-menu"></md-icon>
    </md-button>
    <h2 flex breadcrumbs="menu"></h2>

    <md-button class="md-icon-button" aria-label="send_email" ng-click="sendEmail()">
        <md-icon md-font-icon="fa fa-envelope-o"></md-icon>
        <md-tooltip>Send Email</md-tooltip>
    </md-button> 

    <md-button class="md-icon-button md-warn" aria-label="log_out" ng-click="logout()">
        <md-icon md-font-icon="fa fa-sign-out"></md-icon>
        <md-tooltip>Log Out</md-tooltip>
    </md-button>
</div>
