<div class="dashboard-container padded-content-page">
    <md-button class="md-fab md-primary md-fab-top-right sticky-fab" aria-label="Add" ng-click="showAdd($event)">
        <md-icon md-font-icon="icon-add" class="id"></md-icon>
    </md-button>
    <div>
        <h2>Registered Servers</h2>
    </div>

    <div ng-repeat="server in servers | filter:{registered:1}" flex-xs="" flex-gt-xs="100" layout="column" class="md-padding">
        <md-card class="md-theme-fn10 md-fn10-theme md-padding">
            <md-card-title>
                <md-card-title-text>
                    <div layout="row" layout-align="space-between center">
                        <span class="md-headline">{{server.system_serial}}</span>
                        <span class="md-headline">{{server.wnty_expire}}</span>
                    </div>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <div class="md-list-item-text">
                    <p>Model: {{server.model}}</p>
                    <p>Hostname: {{server.hostname}}</p>
                    <p>IP: {{server.ip}}</p>
                </div>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="goView(server.id)">View</md-button>
                <md-button ng-click="goSetting(server.id)">Setting</md-button>
            </md-card-actions>
        </md-card>
    </div>

    <div>
        <h2>Unregistered Servers</h2>
    </div>

    <div ng-repeat="server in servers | filter:{registered:0}" flex-xs="" flex-gt-xs="100" layout="column" class="md-padding">
        <md-card class="md-theme-fn10 md-fn10-theme md-padding">
            <md-card-title>
                <md-card-title-text>
                    <div layout="row" layout-align="space-between center">
                        <span class="md-headline">{{server.system_serial}}</span>
                        <span class="md-headline">{{server.wnty_expire}}</span>
                    </div>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <div class="md-list-item-text">
                    <p>Model: {{server.model}}</p>
                    <p>Hostname: {{server.hostname}}</p>
                    <p>IP: {{server.ip}}</p>
                </div>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="registerServer(server)">Register</md-button>
                <md-button ng-click="goSetting(server.id)">Setting</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
