

 <div id="container" class="hundredpercenter" style="margin-right: -5px;">
	
	<!-- Elastic JS Core-->
	<script src="js/lib/elasticsearch-js/elasticsearch.jquery.js"></script>

	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxslider.js"></script>
	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxbuttons.js"></script>
	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxlistbox.js"></script>
	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxscrollbar.js"></script>
	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxdropdownlist.js"></script>
	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxmenu.js"></script>
	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxgrid.js"></script>
	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxgrid.pager.js"></script>
	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxgrid.sort.js"></script>
	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxgrid.filter.js"></script>
	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxgrid.storage.js"></script>
	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxgrid.columnsresize.js"></script>
	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxgrid.columnsreorder.js"></script>
	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxgrid.selection.js"></script>
	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxgrid.edit.js"></script>
	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxpanel.js"></script>
	<script type="text/javascript" src="js/lib/jqxwidgets/4.1.1/jqwidgets/jqxcheckbox.js"></script>
	
     <div id='{{viewchartId}}' style="width: 100%; height: 100%"></div>
     
     
</div>
		