 <div layout="row" layout-xs="column" layout-wrap ng-repeat="dashboardRow in $ctrl.dashBoardUrlRows">
 
 	<div ng-repeat="column in dashboardRow" flex="{{column.flex_width}}" flex-xs="100" flex-sm="100">
        <md-card class="md-fn10-theme dash-sub-card"  ng-dblclick="$ctrl.clickcard(column.url)">
            <md-card-header>
                <md-card-header-text class="md-fn10-theme">
                    <span class="md-subtitle" style="cursor: pointer; cursor: hand;">{{column.title}}</span>
                </md-card-header-text>
            </md-card-header>
			
			<md-card-content ng-if="$ctrl.showtoolbar">
           	 		<div layout="row">
	            		<chartsearch-component externalurlhandler="column" namerootid="$ctrl.namerootid + '_' + column.frameId"></chartsearch-component>
					</div>
			</md-card-content>
            
            <md-card-content>
            	<div layout="row">
                	<iframe id="{{$ctrl.namerootid}}_{{column.frameId}}" height="{{column.chart_height}}" width="100%" frameBorder="0"></iframe>
                </div>
            </md-card-content>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead"></span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
   
</div>
