<div class="dashboard-container padded-content-page" layout="column">
    <div>
        <md-card class="md-fn10-theme">
            <md-toolbar class="md-theme-fn10 md-fn10-theme">
                <h2 class="md-toolbar-tools">
                    <span>Add New Organization</span>
                </h2>
            </md-toolbar>

            <md-content class="md-theme-fn10 md-fn10-theme">
                <form ng-submit="" name="orgForm" class="md-padding">
                    <div>
                        <md-input-container class="md-icon-float md-block">
                            <md-icon md-font-icon="fa fa-building-o" class="orgid"></md-icon>
                            <input ng-model="newOrg.org_id" type="text" placeholder="Org ID">
                            <div ng-message="id_err" style="color:red">{{id_err}}</div>
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="md-icon-float md-block">
                            <md-icon md-font-icon="fa fa-building-o" class="name"></md-icon>
                            <input ng-model="newOrg.name" type="text" placeholder="Name">
                            <div ng-message="name_err" style="color:red">{{name_err}}</div>
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="md-icon-float md-block">
                            <md-icon md-font-icon="fa fa-server" class="name"></md-icon>
                            <input ng-model="newOrg.influx" type="text" placeholder="Influx Server">
                            <div ng-message="influx_err" style="color:red">{{influx_err}}</div>
                        </md-input-container>
                    </div>
                    <div>
                        <md-button class="md-raised md-primary" ng-click="addOrg(newOrg)">Add</md-button>
                    </div>
                </form>
            </md-content>

        </md-card>
    </div>
</div>
