<div class="dashboard-container padded-content-page" layout="column">
    <div>
        <md-card class="md-fn10-theme">
            <md-toolbar class="md-theme-fn10 md-fn10-theme">
                <h2 class="md-toolbar-tools">
                    <span>Edit Server</span>
                </h2>
            </md-toolbar>

            <md-content class="md-theme-fn10 md-fn10-theme">
                <form ng-submit="" name="serverForm" class="md-padding">
                    <div>
                        <md-input-container class="md-icon-float md-block">
                            <input ng-model="editServer.system_serial" type="text" placeholder="Serial number">
                            <div ng-message="serial_err" style="color:red">{{serial_err}}</div>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <input ng-model="editServer.model" type="text" placeholder="model">
                            <div ng-message="model_err" style="color:red">{{model_err}}</div>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <input ng-model="editServer.hostname" type="text" placeholder="Host name">
                            <div ng-message="hostname_err" style="color:red">{{hostname_err}}</div>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <input ng-model="editServer.ip" type="text" placeholder="IP address">
                            <div ng-message="ip_err" style="color:red">{{ip_err}}</div>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <label>Compnay</label>
                            <md-select ng-model="editServer.org_id">
                                <md-option ng-repeat="org in orgs" ng-value="org.org_id">
                                    {{org.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <input ng-model="editServer.config_name" type="text" placeholder="Config name">
                            <div ng-message="configname_err" style="color:red">{{configname_err}}</div>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <input ng-model="editServer.wnty_expire" type="date" placeholder="Wnty expire">
                            <div ng-message="wnty_expire_err" style="color:red">{{wnty_expire_err}}</div>
                        </md-input-container>
                    </div>
                    <div>
                        <md-button class="md-raised md-primary" ng-click="update_server(editServer)">Update</md-button>
                    </div>
                </form>
            </md-content>

        </md-card>
    </div>
</div>
