body.ng-scope {
    margin: 0px;
}
.liquidFillGaugeText { 
    font-family: Helvetica; 
    font-weight: bold; 
}
.svg-container {
    display: inline-block;
    /*position: relative;
    vertical-align: middle;
    margin: 10px;*/
}
.svg-content-responsive {
    display: block;
    /*position: absolute;
    top: 0;
    left: 0;*/
}

