<div class="dashboard-container padded-content-page" layout="column" ng-cloak>

    <div layout="row" layout-xs="column" layout-wrap>
        <div id="map" flex="100" flex-xs="100">
            <md-card class="md-fn10-theme">
                <md-toolbar class="md-theme-fn10 md-fn10-theme" >
                    <h2 class="md-toolbar-tools">
                        <span>Storage Explorer</span>
                    </h2>
                </md-toolbar>
                <md-content>
                    <iframe id="map_ifrm" ng-src="{{trustedMonitcommandoMain}}" height="2000px;" width="100%" frameBorder="0"></iframe>
                </md-content>
            </md-card>
        </div>
    </div>
    


    
</div>
