md-icon.membership-gold {
    color: #c98910;
}
md-icon.membership-silver {
    color: #a8a8a8;
}
md-icon.membership-bronze {
    color: #e36a00;//#f97706; //#965a38;
}
md-icon.membership-legacy {
    color: #965a38;
}
md-icon.membership-standard {
    color: #4f6b7d;
}
md-icon.membership-freenascer {
    color: #2b9cd8;
}
md-icon.membership-mini {
    color: #2b9cd8;
}
img.server-img {
    max-width: 250px;
}
