.content-padded {
    padding: 20px;
}

.sticky-fab {
    top: 64px !important;
    right: 32px !important;
    position: fixed !important;
}

.server-dialog {
    width: 450px;
}

.table-list {
    padding: 0 16px;
    align-items: center;
}
