<div class="dashboard-container padded-content-page" layout="column">
    <div>
        <h2>Open Support Tickets</h2>
    </div>
    <md-card class="md-fn10-theme dash-table">
        <md-card-header class="dash-table">
            <md-card-header-text>
                <div layout="row">
                    <div flex="15">Ticket ID</div>
                    <div flex="20">Priority</div>
                    <div flex="20">Company</div>
                    <div flex="20">Status</div>
                    <div flex="10">Days Open</div>
                    <div flex="15">Last Updated</div>
                </div>
            </md-card-header-text>
        </md-card-header>

        <md-card-content style="overflow: hidden;">
            <md-list>
                <md-list-item ng-repeat="ticket in filteredTickets" ng-click="go(ticket.id)">    
                    <md-divider></md-divider>
                    <div flex="15">{{ticket.ticket_id}}</div>
                    <div flex="20">{{ticket.priority}}</div>
                    <div flex="20">{{ticket.company}}</div>
                    <div flex="20">{{ticket.status}}</div>
                    <div flex="10">{{ticket.days_open}}</div>
                    <div flex="15">{{ticket.last_activity}}</div>
                </md-list-item>
            </md-list> 
            <div layout="row" layout-align="center center" class="dash-table" ng-show="tickets.length/numPerPage > 1">
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="5" items-per-page="numPerPage" class="pagination-sm" boundary-link-numbers="true"></ul>
            </div>  
        </md-card-content>                                                                                                                                            
    </md-card>
</div>
