<div class="full-height material-background mb-bg-07" layout="column" layout-fill layout-align="space-around center">
    <div layout="row" flex class="full-width" layout-align="center center">
        <div flex="50" flex-sm="90" layout="row">
            <div flex>
                <img src="assets/images/font/material-font-4.png">
            </div>
            <div flex>
                <img src="assets/images/font/material-font-0.png">
            </div>
            <div flex>
                <img src="assets/images/font/material-font-4.png">
            </div>
        </div>
    </div>
    <div layout="row" flex class="full-width" layout-align="center center">
        <md-card flex="50" flex-sm="90">
            <md-card-content class="text-center">
                <h1 class="md-display-1" >Page not found</h1>
                <p>Sorry, the page you are looking for cannot be found here. Head back to the home page and start from there.</p>
                <md-button class="md-primary md-raised" ng-click="goHome()">Go Back Home</md-button>
            </md-card-content>
        </md-card>
    </div>
</div>
