<div class="dashboard-container padded-content-page" layout="column" ng-cloak>
    <div>
        <h2>ZFS Metrics Summary</h2>
    </div>
   
   	<md-card class="md-fn10-theme dash-card">
       <md-content>
           <select  class="md-no-underline" style="background: black; width: 100%; overflow: hidden;"  ng-model="selectedServer" ng-change='selectedServerChange()'>
             <option  ng-value="ALL">{{ALL}}</option>
           	<option  ng-repeat="server in servers"ng-value="server.id"  >{{server.hostname}}</option>
           </select>
       </md-content>
   </md-card>
   
    <div>
        <br/>
    </div>
   
    
    <md-card class="md-fn10-theme dash-card" ng-if="redrawMe" >
   
        <md-card-content class="total">
     		<jsondashboard-component  namerootid='"realtime"'  dashboardpath="'/dashtemplates/zfs_storage.json'", dashboardmap="dashboardMap"></jsondashboard-component>
     	</md-card-content>
     </md-card>
   
  	  <div layout="row">
        <br/>
    </div>

    
 	
</div>
